In [33]:
import pandas as pd
import numpy as np

In [34]:
#set up our data

arrays =[
    ['ant','ant','bat','baz','fox','fox','pig','pig'],
    ['one','two','one','two','one','two','one','two'],
]

In [35]:
# the astericks makes it zip each tuple rather than the whole thing at once
#otherwise it would 'print' on one line.
tuples = list(zip(*arrays))

In [36]:
tuples

[('ant', 'one'),
 ('ant', 'two'),
 ('bat', 'one'),
 ('baz', 'two'),
 ('fox', 'one'),
 ('fox', 'two'),
 ('pig', 'one'),
 ('pig', 'two')]

In [37]:
#set indexes level1
index = pd.MultiIndex.from_tuples(tuples,names=['first', 'second'])

In [38]:
#now my left hand collumn is called 'first' and my right side column is called 'second'
index

MultiIndex([('ant', 'one'),
            ('ant', 'two'),
            ('bat', 'one'),
            ('baz', 'two'),
            ('fox', 'one'),
            ('fox', 'two'),
            ('pig', 'one'),
            ('pig', 'two')],
           names=['first', 'second'])

In [58]:
#another way to do this is by iterating every element to gether into tuples.
iterables = [['ant','bat','fox','pig'],['one','two']]
pd.MultiIndex.from_product(iterables, names=['first','second'])

MultiIndex([('ant', 'one'),
            ('ant', 'two'),
            ('bat', 'one'),
            ('bat', 'two'),
            ('fox', 'one'),
            ('fox', 'two'),
            ('pig', 'one'),
            ('pig', 'two')],
           names=['first', 'second'])

In [64]:
#for each animal, lets make 2 random numbers 1 for 'one' 1 for 'two'
#set index level 2
s = pd.Series(np.random.randn(8),index=index)

In [65]:
s

first  second
ant    one       0.196258
       two      -1.004155
bat    one      -1.247197
baz    two      -0.220199
fox    one      -1.011073
       two      -0.829867
pig    one      -1.014909
       two       0.961947
dtype: float64

In [59]:
#you can pass in series or dataframs to construct multiindex automatically

In [61]:
arrays = [
    np.array(['ant','ant','bat','bat','fox','fox','pig','pig']),
    np.array(['one','two','one','two','one','two','one','two'])
]

In [66]:
#from here we can go to level 1 indexing
s = pd.Series(np.random.randn(8), index = arrays)

In [67]:
s

ant  one   -0.488269
     two    0.785193
bat  one   -2.035453
     two   -2.416776
fox  one    1.406683
     two   -0.726150
pig  one   -0.308992
     two   -0.016933
dtype: float64

In [68]:
#or.. straight to level 2

df = pd.DataFrame(np.random.randn(8,4), index=arrays)

In [69]:
df

                0         1         2         3
ant one -1.138896 -1.531828 -0.882284  1.366161
    two -1.012418 -0.548459  0.503765 -0.179938
bat one  3.718233 -0.736847  0.592315  0.148797
    two  0.479943 -0.114232  0.701564  1.503348
fox one  0.253135  0.393996  1.180553 -0.545689
    two -0.276725  0.600120 -0.368206 -0.725470
pig one  1.136640 -0.993723 -0.384284 -1.113576
    two -0.020705 -0.072541 -1.284810 -0.449682

In [71]:
#MultiIndex can accept a names argument. which stores those names as strings. We didn't set that while making the multi index
df.index.names

FrozenList([None, None])

In [ ]:
df = pd.DataFrame(np.random.randn(3,8), index=['A','B','C'], columns=index)

In [73]:
df

                0         1         2         3
ant one -1.138896 -1.531828 -0.882284  1.366161
    two -1.012418 -0.548459  0.503765 -0.179938
bat one  3.718233 -0.736847  0.592315  0.148797
    two  0.479943 -0.114232  0.701564  1.503348
fox one  0.253135  0.393996  1.180553 -0.545689
    two -0.276725  0.600120 -0.368206 -0.725470
pig one  1.136640 -0.993723 -0.384284 -1.113576
    two -0.020705 -0.072541 -1.284810 -0.449682

In [72]:
### that's as much as I can understand right now....

### I stopped at 'This index can back any axis of a pandas object, and the number of levels of the index is up to you:'