In [1]:
#      DataFrame.xs(key, axis=0, level=None, drop_level=True)

Return cross-section from the Series/DataFrame

What is a cross section?

Cross-sectional data refer to observations of many different individuals (subjects, objects) at a given time, each observation belonging to a different individual. A simple example of cross-sectional data is the gross annual income for each of 1000 randomly chosen households in New York City for the year 2000.

****Key

label contained in the index or partially in a multiindex

****axis

0 = index 1 = columns (default 0)

****level

in case of multiindex, says where in multidindex what level

****drop_level

if false, returns object with same levels as self...

In [3]:
#xs can not be used to set values

## Examples!

In [6]:
import pandas as pd

In [7]:
#create a dictionary of animal types and characteristics that we can cast to a data frame
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']}

In [9]:
#cast it to a data frame
df = pd.DataFrame(data=d)

In [12]:
#here is what it looks like, index 0,1,2,3, is not very helpful
df.head()

   num_legs  num_wings   class   animal locomotion
0         4          0  mammal      cat      walks
1         4          0  mammal      dog      walks
2         2          2  mammal      bat      flies
3         2          2    bird  penguin      walks

In [16]:
#lets fix that 
df = df.set_index(['class', 'animal', 'locomotion'])

In [35]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [17]:
#now we can use .xs

df.xs('mammal')

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [31]:
#can delve deeper. Notice the double parenthesis
df.xs(('mammal','dog'))

C:\Users\dansc\AppData\Local\Temp\ipykernel_17008\1301871579.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.xs(('mammal','dog'))

            num_legs  num_wings
locomotion
walks              4          0

In [34]:
df.xs('cat') # it doesn't work with out level specified

KeyError: 'cat'

In [32]:
#can also do this with level
df.xs('cat', level=1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [36]:
df.xs('walks',level=2)

                num_legs  num_wings
class  animal
mammal cat             4          0
       dog             4          0
bird   penguin         2          2

In [37]:
df.xs('num_wings',axis=1)

class   animal   locomotion
mammal  cat      walks         0
        dog      walks         0
        bat      flies         2
bird    penguin  walks         2
Name: num_wings, dtype: int64