# Series

In [1]:
#similar to numpy aray. BUT Panda series can have access lables. (indexing?)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
#we have an index on the left!
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
#we can change that index
pd.Series(data = my_data, index =labels)

a    10
b    20
c    30
dtype: int64

In [6]:
#shorthand as long as they are in correct order
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [19]:
#take keys of dict set as index then values as data point
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
#Panda series can hold variety of data types

In [21]:
labels

['a', 'b', 'c']

In [25]:
#now it is strings
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [27]:

pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
#now lets use it!

In [29]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [30]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [31]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [32]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [34]:
#here I put in a string bec the index is a string...
ser1['USA']

1

In [35]:
ser3 = pd.Series(data=labels)

In [36]:
ser3

0    a
1    b
2    c
dtype: object

In [38]:
ser3[0]

'a'

In [39]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [40]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [41]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [42]:
#int will be converted to floats