In [11]:
import pandas as pd
import numpy as np

In [13]:
randn = np.random.randn

In [8]:
import random

In [6]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [15]:
#it has two index levels!
#grade 1
#kids in that class....
#etc
df

             A         B
G1 1  1.287502 -0.427743
   2 -0.869573  0.971405
   3 -1.033967  0.862070
G2 1 -0.409860 -1.894071
   2 -1.436752 -1.448027
   3 -0.018869 -0.486183

In [16]:
df.loc['G1']

          A         B
1  1.287502 -0.427743
2 -0.869573  0.971405
3 -1.033967  0.862070

In [18]:
#or

In [17]:
df.loc['G2']

          A         B
1 -0.409860 -1.894071
2 -1.436752 -1.448027
3 -0.018869 -0.486183

In [20]:
df.loc['G1'].loc[1]

A    1.287502
B   -0.427743
Name: 1, dtype: float64

In [24]:
#this labels your indexes
df.index.names = ['Groups','Num']

In [23]:
df

                   A         B
Groups Num
G1     1    1.287502 -0.427743
       2   -0.869573  0.971405
       3   -1.033967  0.862070
G2     1   -0.409860 -1.894071
       2   -1.436752 -1.448027
       3   -0.018869 -0.486183

In [27]:
df.loc['G2'].loc[2]['B']

-1.448027152195786

In [28]:
df.loc['G1'].loc[3]['A']

-1.0339674978070292

## Cross section

In [30]:
df

                   A         B
Groups Num
G1     1    1.287502 -0.427743
       2   -0.869573  0.971405
       3   -1.033967  0.862070
G2     1   -0.409860 -1.894071
       2   -1.436752 -1.448027
       3   -0.018869 -0.486183

In [31]:
#what if we want everything under G1
#antoher option is xs

In [32]:
df.xs('G1')

            A         B
Num
1    1.287502 -0.427743
2   -0.869573  0.971405
3   -1.033967  0.862070

In [33]:
#but xs lets us grab at lower levels accross higher levels

In [35]:
#cool!
df.xs(1, level = 'Num')

               A         B
Groups
G1      1.287502 -0.427743
G2     -0.409860 -1.894071