### Map and Filter

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

### map

In [4]:
seq = [1,2,3,4,5]

In [5]:
# I want to times2 every element in seq then output new list

In [6]:
#I could use a for loop then append...

In [7]:
#map lets us save steps

In [9]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

### lambda expression

In [10]:
#lets rewrite our code as lambda
#rewrite function into single line.
#we usually don't want to have to write and define a func
lambda var: var*2

In [12]:
list(map(lambda var: var*3, seq))

[3, 6, 9, 12, 15]

### filter

In [14]:
#we will filter out elements from a sequence

list(filter(lambda num: num%2 == 0, seq))

[2, 4]

### methods. Calls you can make off on object

In [16]:
s = 'hello my name is Sam'

In [26]:
s.upper()

'HELLO MY NAME IS SAM'

In [27]:
s.lower()

'hello my name is sam'

In [20]:
tweet = 'Go Spurs! #Sports'

In [25]:
tweet.split('#')[1]

'Sports'

In [28]:
d = {'k1':1,'k2':2}

In [30]:
d.keys()

dict_keys(['k1', 'k2'])

In [31]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [32]:
d.values()

dict_values([1, 2])

In [33]:
#dictionaries don't retain an order

In [43]:
lst = [1,2,3]

In [44]:
lst.pop()

3

In [45]:
#change is permanent
lst

[1, 2]

In [46]:
item  = lst.pop() 

#you can pass in an index to pop instead of taking off auto [-1]

In [47]:
item

2

In [48]:
lst

[1]

In [49]:
'x' in 'sexy'

True

In [50]:
'x' in [1,2,3]

False

In [51]:
'x' in ['sexy',1,2]

False

In [52]:
#tuple unpacking

In [54]:
x = [(1,2),(3,4),(5,6)]

In [56]:
x[0][0]

1

In [57]:
# or iterating through a list of tuples

In [58]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [62]:
#but lets unpack as we go

for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6